# Data Files (Too large for GitHub)
data/*.csv
!data/sample.csv
data/*.ndjson
!data/sample.ndjson
!data/sample_ready.csv

# Application Artifacts
*.log
.env
.DS_Store

# Dependencies
**/node_modules/
dist/
coverage/
